<style>
      #jardel {
        border-radius: 255px;
        
      }
      body {
        background-color: rgb(45, 147, 173);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }


    </style>